.logo {
    width: 40px;
    padding: 0px;
    margin: 0px !important;
}
.rs-navbar-brand {
    padding: 10px !important;
}

.profile-user-name{
    font-size: 20px;
}

.center{
    margin-left:10px;
}